[workspace]
members = [
    "src/ic0",
    "src/ic-cdk",
    "src/ic-cdk-bindgen",
    "src/ic-cdk-executor",
    "src/ic-cdk-macros",
    "src/ic-cdk-timers",
    "library/ic-certified-map",
    "library/ic-ledger-types",
    "e2e-tests",
]

[profile.canister-release]
inherits = "release"
debug = false
panic = "abort"
lto = true
opt-level = 'z'

[workspace.dependencies]
candid = "0.9"
