[toolchain]
channel = "1.70.0"
targets = ["wasm32-unknown-unknown"]
components = ["rustfmt", "clippy"]

# Sync rust-version in following files
# Cargo.toml
# .github/workflows/ci.yml
# .github/workflows/examples.yml
