[package]
name = "ic-cdk-e2e-tests"
version = "0.1.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2021"
description = "End-to-end tests for the Rust Canister Development Kit"
license = "Apache-2.0"
repository = "https://github.com/dfinity/cdk-rs"

[dependencies]
candid = "0.7.4"
cargo_metadata = "0.14.2"
escargot = { version = "0.5.7", features = ["print"] }
ic-cdk = { path = "../src/ic-cdk" }
ic-cdk-macros = { path = "../src/ic-cdk-macros" }
lazy_static = "1.4.0"
serde_bytes = "0.11"

[[bin]]
name = "simple-kv-store"
path = "canisters/simple_kv_store.rs"

[[bin]]
name = "async"
path = "canisters/async.rs"

[[bin]]
name = "reverse"
path = "canisters/reverse.rs"

[[bin]]
name = "api-call"
path = "canisters/api_call.rs"

[[bin]]
name = "call-management"
path = "canisters/call_management.rs"

[dev-dependencies]
ic-state-machine-tests = { git = "https://github.com/dfinity/ic", rev = "02a4a828f2f4d3b1dcb93a84e60672a3f3fdb400" }
