[package]
name = "ic-cdk"
version = "0.10.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2021"
description = "Canister Developer Kit for the Internet Computer."
homepage = "https://docs.rs/ic-cdk"
documentation = "https://docs.rs/ic-cdk"
license = "Apache-2.0"
readme = "README.md"
categories = [
    "api-bindings",
    "data-structures",
    "no-std",
    "development-tools::ffi",
]
keywords = ["internet-computer", "types", "dfinity", "canister", "cdk"]
include = ["src", "Cargo.toml", "LICENSE", "README.md"]
repository = "https://github.com/dfinity/cdk-rs"
rust-version = "1.65.0"

[dependencies]
candid = "0.9"
ic0 = { path = "../ic0", version = "0.18.10" }
ic-cdk-macros = { path = "../ic-cdk-macros", version = "0.7.0" }
serde = "1.0.110"
serde_bytes = "0.11.7"
slotmap = { version = "1.0.6", optional = true }

[dev-dependencies]
rstest = "0.12.0"

[features]
transform-closure = ["dep:slotmap"]
# The feature below is not additive as normal crate features.
# Enable it may cause other dependent projects malfunctioning.
# It is only to be used by canister IDL generation.
wasi = ["ic0/wasi", "ic-cdk-macros/export_candid"]

[package.metadata.docs.rs]
features = ["transform-closure"]
default-target = "wasm32-unknown-unknown"
rustdoc-args = ["--cfg=docsrs"]
