[package]
name = "ic-cdk"
version = "0.8.0-beta.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2021"
description = "Canister Developer Kit for the Internet Computer."
homepage = "https://docs.rs/ic-cdk"
documentation = "https://docs.rs/ic-cdk"
license = "Apache-2.0"
readme = "README.md"
categories = ["api-bindings", "data-structures", "no-std", "development-tools::ffi"]
keywords = ["internet-computer", "types", "dfinity", "canister", "cdk"]
include = ["src", "Cargo.toml", "LICENSE", "README.md"]
repository = "https://github.com/dfinity/cdk-rs"
rust-version = "1.60.0"

[dependencies]
candid = { path = "../../../candid/rust/candid" }
ic0 = { path = "../ic0", version = "0.18.9" }
ic-cdk-macros = { path = "../ic-cdk-macros", version = "0.8.0-beta.0" }
serde = "1.0.110"
serde_bytes = "0.11.7"

[dev-dependencies]
rstest = "0.12.0"

[features]
wasi = ["ic0/wasi"]

[package.metadata.docs.rs]
default-target = "wasm32-unknown-unknown"
rustc-args = ["--cfg=docsrs"]
