
name: Examples

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [ linux-stable ]
        include:
          - build: linux-stable
            os: ubuntu-latest
            rust: 1.60.0
            dfx: 0.11.1-beta.2

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            **/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-1

      - name: Install Rust
        run: |
          rustup update ${{ matrix.rust }} --no-self-update
          rustup default ${{ matrix.rust }}
          rustup target add wasm32-unknown-unknown

      - name: Install DFX
        run: |
          export DFX_VERSION=${{ matrix.dfx }}
          echo Install DFX Version: $DFX_VERSION
          yes | sh -ci "$(curl -fsSL https://sdk.dfinity.org/install.sh)"

      - name: Setup BATS
        uses: mig4/setup-bats@v1.0.2
        with:
          bats-version: 1.2.1

      - name: Install bitcoin
        run: |
          CWD=$(pwd)
          cd "$(mktemp -d)"
          BITCOIN_CORE_VERSION=22.0
          BITCOIN_CORE_FILENAME="bitcoin-$BITCOIN_CORE_VERSION-x86_64-linux-gnu.tar.gz"
          BITCOIN_CORE_TARBALL_SHA="59ebd25dd82a51638b7a6bb914586201e67db67b919b2a1ff08925a7936d1b16"
          wget "https://bitcoin.org/bin/bitcoin-core-$BITCOIN_CORE_VERSION/$BITCOIN_CORE_FILENAME"
          echo "$BITCOIN_CORE_TARBALL_SHA  $BITCOIN_CORE_FILENAME" | shasum -c
          tar xzf "$BITCOIN_CORE_FILENAME"
          cd "bitcoin-$BITCOIN_CORE_VERSION/bin"
          sudo install -m 0755 -o root -g root -t /usr/local/bin *
          cd "$CWD"

      - name: Run Tests
        shell: bash
        run: |
          echo CWD: $(pwd)
          echo bitcoind: $(which bitcoind)
          echo bitcoin-cli: $(which bitcoin-cli)
          export PATH=$PATH:$HOME/bin
          bats -r examples
        env:
          RUST_BACKTRACE: 1

      - name: Purge for OSX
        if: matrix.os == 'macos-latest'
        run: |
          # There is a bug with BSD tar on macOS where the first 8MB of the file are
          # sometimes all NUL bytes. See https://github.com/actions/cache/issues/403
          # and https://github.com/rust-lang/cargo/issues/8603 for some more
          # information. An alternative solution here is to install GNU tar, but
          # flushing the disk cache seems to work, too.
          sudo /usr/sbin/purge

  aggregate:
    name: examples:required
    if: ${{ always() }}
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: check step result directly
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
