name: Lint

on: [pull_request]

jobs:
  test:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [ 1.55.0 ]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust
        run: |
          rustup update ${{ matrix.rust }} --no-self-update
          rustup default ${{ matrix.rust }}
          rustup component add clippy

      - name: Run Lint
        run: cargo clippy --tests --benches -- -D clippy::all
        env:
          RUST_BACKTRACE: 1
